[submodule "finance-dashboard"]
	path = finance-dashboard
	url = https://github.com/18048Satya/finance-dashboard.git
[submodule "task-management"]
	path = task-management
	url = https://github.com/18048Satya/task-management.git
